$page-width: 595px;
$page-height: 842px;

@page {
  size: $page-width $page-height;
  -relaxed-page-width: $page-width;
  -relaxed-page-height: $page-height;
  margin: 50px 0 0;
}

img {
  height: 500px;
}
